h1{
    color:blueviolet;
}

body{
    background-color: aqua;
}

#encabezado{
    background-color: white;
    border-radius: 10px;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    padding: 26px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
}

.logo{
    background-color: azure;
    width:20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.logo img{
    width: 100%;
    height: auto;
}

.menu{
    background-color:antiquewhite;
    width: 60%;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(27, 117, 188);
}
.menu ul li{
    margin: 0;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a :hover{
background-color:rgb(0, 0, 0);
padding: 15px 20px;
}

.redes{
    background-color: brown;
    width: 20%;
}