h1{
    color:blueviolet;
}

body{
    background-color: aqua;
}

#encabezado{
    background-color: white;
    border-radius: 10px;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    padding: 26px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
